<head>
	<title>Login V3</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="/assets/css/util.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/main.css">


</head>
	
<div style="height:100%;width:100%;">

  <div class="home-menu-div"> 
    <div class="home-menu-category" [ngClass]="{'home-menu-category-selected':category == 'quiz'}"
    (click)="switchMenu('quiz')">
    QUIZ
    </div>
    <div class="home-menu-category" [ngClass]="{'home-menu-category-selected':category == 'games'}"
     (click)="switchMenu('games')">
      GAMES
      </div>
  <div class="home-menu-category " [ngClass]="{'home-menu-category-selected':category == 'liveQuiz'}"
  (click)="switchMenu('liveQuiz')">
  LIVE QUIZ
  </div>
  
  
 
  </div>
  <ShowLiveQuizes *ngIf="category=='liveQuiz'"></ShowLiveQuizes>
  <showCategory *ngIf="category=='quiz'" [type]="category" ></showCategory>
  <showCategory *ngIf="category=='games'" [type]="category"></showCategory>
</div>