
.home-menu-div{    background: black;
   
   
	    height: 8%;
	}
	
	.home-menu-category{
	      margin-right: 1%;
    font-size: 19px;
    width: 32%;
    float: left;
    height: 100%;
    color: white;
    padding: 4%;
    font-style: italic;
    font-weight: bold;
}
	
	.home-menu-category-selected{
		background: white;
    color: black;
	}