


<div id='levelup' style="height:100%">

<img src="/assets/images/gameover.png" alt="HTML5 Icon"  class='interval-img'>

	<div id='middle-section' class='suc-middle'>
		<img src="/assets/images/popcorn.png" alt="HTML5 Icon"  class='popcorn-img'>
		<div class="scoreDiv"> 
			<div style="font-size:17px;">your score</div>
			<div class="score-box">
				<img src="/assets/images/coin.png" alt="HTML5 Icon" style="width:30%;
    "  >
				<span style="font-size:17px;">{{coins}}</span>
			</div>
	
		</div>
	
	</div>
	<div id='lower-section' class="lower-section">
	<button class="level-button" style="float:left"  mat-dialog-close='home'>
								Home
							</button>
	<button class="level-button" style="float:Right" mat-dialog-close='re-play'>
								Re-Play
	</button>
	</div>
</div>