<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V3</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="/assets/images/icons/favicon.ico"/>

	<link rel="stylesheet" type="text/css" href="/assets/css/util.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/main.css">

</head>
<body>
	

			<div class='profileWrapper'>
				<div class="profile-top">
					
					<img src="../../../assets/images/logo.png" style="height:80px">
				
						</div>
						
				<div class='fieldDiv'>
					<div class="field_label">UserId:</div> <input type = 'text' disabled class="inputClass input-text"  [(ngModel)]='user.userId'>
		</div>
		<div class='fieldDiv'>
			<div class="field_label">	Password:</div> <input [disabled]="!isLoggedIn" type = 'text' class="inputClass input-text"   [(ngModel)]='user.password'>
		</div>
		<div class='fieldDiv'>
			<div  class="field_label">	Name:</div> <input [disabled]="!isLoggedIn" type = 'text' class="inputClass input-text"  [(ngModel)]='user.first_name' >
		</div>
		<div class='fieldDiv'>
			<div class="field_label">	Email: </div><input [disabled]="!isLoggedIn" type = 'text' class="inputClass input-text"  [(ngModel)]='user.email'>
		</div>
		<div class='fieldDiv'>
			<div class="field_label">	Mobile No:</div> <input [disabled]="!isLoggedIn" type = 'text' class="inputClass input-text"  [(ngModel)]='user.phone'>
		</div>
		
<button  class="profile-button" (click) ="openLoginDialog()"style="background: #09670D;">
	
	<span *ngIf="!isLoggedIn">Login</span>
	<span *ngIf="isLoggedIn">Logout</span>
</button>		
<button  class="profile-button "  style="background:#da2525 ;" (click)="cancelUpdate()"> Cancel</button>
<button  class="profile-button" [disabled]="!isLoggedIn" (click) ="updateUser()"style="background:#3c3c75;">Update</button>
						
			</div>
		

</body>
</html>