<head>
	<title>Login V3</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="/assets/css/util.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/main.css">


</head>
<div style="height:100%" *ngIf="!levelCleared && !isanimatedGifVaisible">
<div class="wrap-login100" *ngIf="quizes.length>0; else loading">
	
	<embed *ngIf="undefined != quizes[index] && quizes[index]?.type=='image' && false" src="/assets/audio/background.mp3" loop="true" autostart="true" width="0" height="0" >
	<div id="upper-part"  [ngClass]="{'upper-part':!isemojiBoxVisible , 'upper-part-emoji':isemojiBoxVisible }">
		
		<div id='heart-img' *ngIf="!isLiveQuiz" class="heart-img-div" style="display:inline-block;">
			<div *ngFor="let liveclass of liveClassesArray " class={{liveclass}} style="display:inline-block">
			</div>
		</div>
		<div id='currentStatus' class="currentStatus"> {{index+1}}/{{totalQuestion}}</div>	
		
		<div *ngIf="!isLoaderVisible && !isemojiBoxVisible" class="timer-div">
	
			<span  class="spinner-text" style="top: 12%;
			right: 9%;">{{timeLeft}}</span>
		<mat-progress-spinner  mode="determinate" value={{progress}} color="warn" diameter="40" >
		
		</mat-progress-spinner>
		</div>
			
		
			<img  *ngIf="isemojiBoxVisible" src="../../../assets/images/hint.png" (click)="isHintVisible=true" 
			style="width: 13%;
			position: absolute;
			left: 86%;
			top: 11%;">
		
		<div id="middle-section"  
			[ngClass]="{'middle-section':!isemojiBoxVisible,'upper-part-audio': isAudio,'upper-part-text': !isAudio }">
			<button *ngIf="false"(click)="openQuestionReportedDialogue()" style="color:white"> question report </button>
		
			<div *ngIf="undefined != quizes[index] && quizes[index]?.type=='image'"  [ngClass]="{'ques-img':!isemojiBoxVisible , 'ques-emoji':isemojiBoxVisible }">
				<img  alt="HTML5 Icon"  #imagesTemp style="width: 100%;border-radius: 16px;			height: 100%;">
			</div>
	
			<div *ngIf="quizes[index]?.type=='audio' " style="text-align: center; margin-top:48%">

				<audio  loop  id="audioSelector">
					<source src={{quizes[0].url}}>
					Your browser does not support HTML5 video.
				</audio>
				<button id='audioPlay' (click)='playAudio()' [ngClass]="{'hideButton':ifAudioAutoPlay}"> play </button>
				<button id='audioPlay' (click)='pauseAudio()' [ngClass]="{'hideButton':!ifAudioAutoPlay}"> pause </button>

			</div>

			<div *ngIf="quizes[index]?.type=='video'" style="text-align: center;"class="ques-img"  >

				<video loop #videoPlayer  [ngClass]="{'hide' : !flag,'show' : flag}" style="border-radius: 14px;    object-fit: fill;			">
					<source src={{videoSource}} type="video/mp4">
					Your browser does not support HTML5 video.
				</video>
				<video loop #videoPlayer1  [ngClass]="{'hide' : flag,'show' : !flag}" style="    object-fit: fill;;border-radius: 14px;"	>

			
					<source src={{videoSource1}} type="video/mp4">
					Your browser does not support HTML5 video.
				</video>
				<button id='audioPlay' style="position: relative;    top: -18%;"(click)='playVideoMedia()' [ngClass]="{'hideButton':ifAudioAutoPlay}"> play </button>
				<button id='audioPlay' style="position: relative;    top: -18%;" (click)='pauseVideoMedia()' [ngClass]="{'hideButton':!ifAudioAutoPlay}"> pause </button>

			</div>

			
			
		</div>

	</div>
	<div  *ngIf="quizes[index]!=null" id="question" class="text-center  " style="height:50%">
		<div *ngIf="isOptionButtonVisible" style="height:100%">
			<button appButtonControl class=" {{buttonAnimationCss1}} button-size button.horizTranslate "
				[disabled]="buttonCss[0]=='2'"
				[ngClass]="{'  button-color ': buttonCss[0]=='0','btn-success-correct': buttonCss[0]=='1','btn-danger-wrong': buttonCss[0]=='2' }"
				(click)="onSelectAnswer(1)" [disabled]="isDisabled" > {{quizes[index].option1}}</button>


			<button class="{{buttonAnimationCss2}} button-size  button.horizTranslate" [disabled]="buttonCss[1]=='2'"
				[ngClass]="{'button-color ': buttonCss[1]=='0','btn-success-correct': buttonCss[1]=='1','btn-danger-wrong': buttonCss[1]=='2' }"
				(click)="onSelectAnswer(2)" [disabled]="isDisabled" > {{quizes[index].option2}}</button>


			<button class="{{buttonAnimationCss1}}  button-size  button.horizTranslate" [disabled]="buttonCss[2]=='2'"
				[ngClass]="{'button-color ' : buttonCss[2]=='0',' btn-success-correct': buttonCss[2]=='1',' btn-danger-wrong': buttonCss[2]=='2' }"
				(click)="onSelectAnswer(3)" [disabled]="isDisabled" > {{quizes[index].option3}}</button>



			<button class="{{buttonAnimationCss2}}  button-size button.horizTranslate " [disabled]="buttonCss[3]=='2'"
				[ngClass]="{'button-color ': buttonCss[3]=='0',' btn-success-correct': buttonCss[3]=='1',' btn-danger-wrong': buttonCss[3]=='2' }"
				(click)="onSelectAnswer(4)" [disabled]="isDisabled" > {{quizes[index].option4}}</button>
		</div>
		<div *ngIf="isemojiBoxVisible" style="height:24%; width:100%;text-align:center;">
			<div id='inputtext' class="emojiTextBoxDiv  {{emojiDivCss}}" style="height:100%; width:100%;text-align:center;">
				<form id="myForm">
				
				<div *ngFor="let text of emojiAnswerArray let i = index">
					<input type="text"  value="" id={{i}}   class="emojiTextBox  emojiTextBoxColor" #emojiTextBox minlength="1"  maxlength="1" 
					 (keyup)="onPressKey1($event,(i))"    [ngClass]="{'focus':i==0}" [ngStyle]="{'margin-right':emojiLengthArray[i], 'margin-left': i==0 && emojiAnswerArray.length<6?'25%':'0%' }"  >
					 
				</div>
				<input id='reset' type="reset" value="Reset" style="display:none;">
				</form>
				
			</div>
			<div id="hint" class="emoji-hint" *ngIf="isHintVisible  || true">
				<div >
			{{quizes[index].description.split(";")[0]}}
				</div>
			<div>
				{{quizes[index].description.split(";")[1]}}
			</div>
			</div>
		</div>
		
			<div *ngIf="isMovingPictureDivVisible" style="height:100%; width:100%;text-align:center;">
			<div class="catchCelebImg {{buttonAnimationCss1}}" id="imageDiv1">
			<img (click)="isDisabled || checkAnswer(1)"   #option1 style="    width: 100%; height:100%; border-radius: 10px;">
			</div>
			<div class="catchCelebImg {{buttonAnimationCss2}}" id="imageDiv2">
			<img  (click)="isDisabled || checkAnswer(2)" #option2 style="    width: 100%;height:100%;   border-radius: 10px;">
			</div>
			<div class="catchCelebImg {{buttonAnimationCss1}}"  id="imageDiv3">
			<img  (click)="isDisabled ||  checkAnswer(3)"  #option3 style="    width: 100%; height:100%;  border-radius: 10px;">
			</div>
			<div class="catchCelebImg {{buttonAnimationCss2}}" id="imageDiv4">
			<img  (click)="isDisabled || checkAnswer(4)"  #option4 style="    width: 100%;height:100%;   border-radius: 10px;">
			</div>
		
			
		</div>

	</div>
</div>
<ng-template #loading>
	<div class="overlay" >
<div class="center">
	<mat-progress-spinner  mode="indeterminate" color="accent" ></mat-progress-spinner>
	</div>

</div>
</ng-template>
</div>
<img src="/assets/images/gif/happy3.gif" alt="HTML5 Icon" *ngIf="isanimatedGifVaisible"
				style="height:90%;width:80%">