<head>
	<title>Login V3</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="/assets/css/util.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/main.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/deeppurple-amber.css">

</head>
<div class="wrap-login100" *ngIf="quizes.length>0; else loading">
	<div id="upper-part" class="upper-part ">
		<div id="coinAndTimerandScore">
			<div id='heart-img' class="heart-img-div" style="display:inline-block;">
				<div *ngFor="let liveclass of liveClassesArray " class={{liveclass}} style="display:inline-block">
				</div>
			</div>
			<div id='currentStatus' class="timer-div"> {{correctlyAnsweredQues}}/{{totalQuestion}}</div>
			<div id='level' class="timer-div"> {{level}}</div>
			<div id="timer" class="timer-div">
				{{timeLeft}}
			</div>
			<div style="height:100%;float:right">
				<div class="coin-img" style="display:inline-block;float:right"></div>
				<div style="margin-right:-8px;float:right;color:white">
					{{coins}}
				</div>
			</div>
		</div>
		<div id="middle-section" style="height:70%;"
			[ngClass]="{'upper-part-audio': isAudio,'upper-part-text': !isAudio }">
			<a (click)="openQuestionReportedDialogue();" style="color:white"> questyion rep</a>
			<div *ngIf="quizes[index]?.type=='image'">
				<img src={{quizes[0].url}} alt="HTML5 Icon" class="ques-img" #imagesTemp>
			</div>
			<div *ngIf="quizes[index].type=='audio' && index==0" style="text-align: center;">

				<audio autoplay loop [ngClass]="{'hide' : !flag,'show' : flag}">
					<source src={{quizes[0].url}}>
					Your browser does not support HTML5 video.
				</audio>
				<video loop #videoPlayer1 [ngClass]="{'hide' : flag,'show' : !flag}">
					<source src={{videoSource1}} type="video/mp4">
					Your browser does not support HTML5 video.
				</video>


			</div>
			<div *ngIf="quizes[index].type=='video'" style="text-align: center;">

				<video loop #videoPlayer [ngClass]="{'hide' : !flag,'show' : flag}">
					<source src={{videoSource}} type="video/mp4">
					Your browser does not support HTML5 video.
				</video>
				<video loop #videoPlayer1 [ngClass]="{'hide' : flag,'show' : !flag}">
					<source src={{videoSource1}} type="video/mp4">
					Your browser does not support HTML5 video.
				</video>


			</div>

			<span class="login100-form-title" ngif="quizes[index].description!=''">
				{{quizes[index].description}}
			</span>
			<img src="/assets/images/sample.gif" alt="HTML5 Icon" *ngIf="isanimatedGifVaisible"
				style="height:90%;width:80%">
		</div>

	</div>
	<div id="question" class="text-center  " style="height:45%">
		<div *ngIf="isOptionButtonVisible" style="height:100%">
			<button appButtonControl class=" {{buttonAnimationCss1}} button-size button.horizTranslate "
				[disabled]="buttonCss[0]=='2'"
				[ngClass]="{'  button-color ': buttonCss[0]=='0','btn btn-success': buttonCss[0]=='1','btn btn-danger': buttonCss[0]=='2' }"
				(click)="onSelectAnswer(1)"> {{quizes[index].option1}}</button>


			<button class="{{buttonAnimationCss2}} button-size  button.horizTranslate" [disabled]="buttonCss[1]=='2'"
				[ngClass]="{'button-color ': buttonCss[1]=='0','btn btn-success': buttonCss[1]=='1','btn btn-danger': buttonCss[1]=='2' }"
				(click)="onSelectAnswer(2)"> {{quizes[index].option2}}</button>


			<button class="{{buttonAnimationCss1}}  button-size  button.horizTranslate" [disabled]="buttonCss[2]=='2'"
				[ngClass]="{'button-color ' : buttonCss[2]=='0','btn btn-success': buttonCss[2]=='1','btn btn-danger': buttonCss[2]=='2' }"
				(click)="onSelectAnswer(3)"> {{quizes[index].option3}}</button>



			<button class="{{buttonAnimationCss2}}  button-size button.horizTranslate " [disabled]="buttonCss[3]=='2'"
				[ngClass]="{'button-color ': buttonCss[3]=='0','btn btn-success': buttonCss[3]=='1','btn btn-danger': buttonCss[3]=='2' }"
				(click)="onSelectAnswer(4)"> {{quizes[index].option4}}</button>
		</div>
		<div *ngIf="!isOptionButtonVisible" style="height:100%">
			<div id='inputtext' class="emojiTextBoxDiv {{emojiBoxCss}}">
				<div *ngFor="let input of emojiAnswerArray">
					<input type="text" disabled class="emojiTextBox" value={{input}}>
				</div>

			</div>
			<div class ="keboardDiv {{keyboardAnimation}}"> 
				<div style="margin-left:5px;display: block;">
					<div *ngFor="let keyboard of keyboardArray1 ">
						<button class='keyword-button' (click)="onPressKey(keyboard,$event)">{{keyboard}} </button>

					</div>
				</div>

				<div style="margin-left:15px;display: block;width:100%">
					<div *ngFor="let keyboard of keyboardArray2 ">
						<button class='keyword-button'(click)="onPressKey(keyboard,$event)">{{keyboard}} </button>

					</div>
				</div>

				<div style="margin-left:25px;;display: block;width:100%">
					<div *ngFor="let keyboard of keyboardArray3 ">
						<button class='keyword-button' (click)="onPressKey(keyboard,$event)">{{keyboard}} </button>

					</div>
				</div>
				<button class='keyword-button' (click)="onPressBackKey()">1 </button>
			</div>

		</div>
	</div>
</div>
<ng-template #loading>
	Loading.............
</ng-template>