<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> 
	<title>Login V3</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="/assets/images/icons/favicon.ico"/>

	<link rel="stylesheet" type="text/css" href="/assets/css/util.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/main.css">

</head>
<body>
	
	
			<div class="categoryBackground">
				
				<div *ngIf="iscategoryvisible" style = "height:95%;margin-top:2%;">
				<div  class ="categoryDiv" *ngFor="let category of categories" (click)=selectCategory(category)>
					<div >
						<div style = "font-size: 16px;color:white;float:left;"> {{category.categoryName}}</div>					
						
						<img src={{category.url}}  style = "float:right;margin-top:-7px;" >
						
					</div>
				</div>
				</div>	
				<div *ngIf="!iscategoryvisible"  style = "height:95%">
					<div   *ngFor="let lev of level let i = index;" class ="levelDiv" (click)=loadQuiz(i+1);>
						Level {{i+1}}
						<div *ngIf="i+1<=userCurrentLevel">
						<img src="/assets/images/play.png"   class="play-image">
					</div>
					<div *ngIf="i+1>userCurrentLevel">
						<img src="/assets/images/lock.png"   >
					</div>
					</div>
				
				</div>
				
		
			</div>
		

</body>
</html>