<!DOCTYPE html>
<html lang="en">
<head>

	<title>Login V3</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="/assets/images/icons/favicon.ico"/>

	<link rel="stylesheet" type="text/css" href="/assets/css/util.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/main.css">

</head>
<body >

<div class="overlay" *ngIf="isLoaderVisible">
<div class="center">
	<mat-progress-spinner  mode="indeterminate" color="accent" ></mat-progress-spinner>
	</div>

</div>
			<div class="categoryBackground" *ngIf="!isLoaderVisible">         

				<embed *ngIf="false" src="/assets/audio/background.mp3" loop="true" autostart="true" width="0" height="0" >

				<div *ngIf="iscategoryvisible" style = "height:95%;margin-top:2%;">
				<div  class ="categoryDiv" *ngFor="let category of categories" buttonClickSound (click)=selectCategory(category)>
					<div style="height: 100%;">
						<div style = "font-size: 22spx;
						color: white;
						float: left;
						margin-top: 10%;
						margin-left:5%;"> {{category.categoryName}}</div>					
						
						<img src={{category.url}}  style = "float: right;
						/* margin-top: -29px; */
						height: 95%;
						width: 30%;" >
						
					</div>
				</div>
				</div>	
			
				
		
			</div>
		

</body>
</html>