
<div style="height:100%;width:100%;overflow: scroll;">
<div class="overlay" *ngIf="isLoaderVisible">
<div class="center">
	<mat-progress-spinner  mode="indeterminate" color="accent" ></mat-progress-spinner>
	</div>

</div>
<div class="prizeMatrix-row" style="background-color:  #657bf7; font-weight: bold;font-size:large;">
<span class="leaderboard-span width50" >Name</span>
<span class="leaderboard-span width20" >Rank</span>
<span class="leaderboard-span width20" >Points</span>
</div>		
<div  class="prizeMatrix-row higherstRankDivCss" *ngIf="yourRank!=null">
	<span class="leaderboard-span width50"  >Current Rank </span>
	<span class="leaderboard-span width20" >{{yourRank.quizId}}</span>
	<span class="leaderboard-span width20" >{{yourRank.points}}</span>
	</div>
		<div  class="prizeMatrix-row higherstRankDivCss" *ngIf="highestRank!=null">
			<span class="leaderboard-span width50" >Highest Rank </span>
			<span class="leaderboard-span width20" >{{highestRank.quizId}}</span>
			<span class="leaderboard-span width20" >{{highestRank.points}}</span>
			</div>
		<div *ngFor="let liveQuizPoint of liveQuizPoints " class="prizeMatrix-row">
		<span class="leaderboard-span width50" >{{liveQuizPoint.userId}}</span>
		<span class="leaderboard-span width20" >{{liveQuizPoint.quizId}}</span>
		<span class="leaderboard-span width20"  >{{liveQuizPoint.points}}</span>
		</div>
</div>