<!DOCTYPE html>
<html lang="en">
<head>

	<title>Login V3</title>
	<meta charset="UTF-8">
	
	<link rel="stylesheet" type="text/css" href="/assets/css/main.css">

</head>
<body >

<div class="overlay" *ngIf="isLoaderVisible">
<div class="center">
	<mat-progress-spinner  mode="indeterminate" color="accent" ></mat-progress-spinner>
	</div>

</div>
			<div class="categoryBackground" *ngIf="!isLoaderVisible" style="padding-top:0%">         

				<embed *ngIf="false"src="/assets/audio/background.mp3" loop="true" autostart="true" width="0" height="0" >
				<div class='leaderboard-wrapper'>
				<div style="height:7%">
					<div  class ='leaderboard-button' style = "float:left;" (click)="onswitchBoard(2)" 
					[ngStyle]="{'background':isPrizeMatrix?'#bdbdbd':'#fafafa'}">
				LEADERBOARD	
				</div>	
					<div  class ='leaderboard-button' style = "float:right" (click)="onswitchBoard(1)"
				[ngStyle]="{'background':!isPrizeMatrix?'#bdbdbd':'#fafafa'}">
				PRIZES
				</div>	
				
				
				
			</div>

				<div class='leaderboard-content'> 
					<LeaderBoard *ngIf="!isPrizeMatrix" [quizId]="quizId" [liveQuizPoints]="liveQuizPoints">
					</LeaderBoard>
					<PrizeMatrix *ngIf="isPrizeMatrix" [quizId]="quizId" >
					</PrizeMatrix>
					
				</div>
				<div class="liveQuizPlayButton" (click)="loadLiveQuiz()" >
				play
				</div>
			</div>
		</div>
	
</body>
</html>