.login-container{
    width:100%;
    height:50%;
	
}
.wrap-input100{
	    background: #f08205;
    color: #000000;
    font-size: 16px;
    border-radius: 6px;
    border: 1px;
    border-color: black;
    border-style: solid;
    height: 23%;
    margin-bottom: 2%;
	min-height: 35px;
}
.f-text{
	float: left;
    width: 14%;
    font-weight: bold;
    color: white;
    font-size: 29px;
    text-align: center;
    margin-right: 10%;
	background: rgb(33, 48, 90);
	border-right-style: solid;
    border-right-width: 2px;
    border-right-color: rgb(104, 109, 119);
	height:100%
}
.fb-login-container{
	
	background: rgb(58, 85, 159);
    color: #212529;
    font-size: 16px;
   
    border: 1px;
    border-color: black;
    border-style: solid;
    height: 40%;
    margin-bottom: 2%;
	width:100%;
	min-height:35px;
}
.or{
	font-size: 14px;
    font-weight: bold;
    color: black;
    text-align: center;
    height: 7%;
    min-height: 30px;
  
	
}
.login{
	 
    text-align: center;
    color: black;
    font-weight: bold;
    background: white;
    font-size: 20px;
    border: 1px solid;
    border-radius: 10px;
    height: 25%;
    padding-top: 1%;
    min-height: 45px;
    width: 100%;
}

.forgot-password{
	float: right;
    font-size: 13px;
}
.input{
	    
    background: none;
    color: black;
    font-size: 18px;
    width: 75%;
   
    top: -27%;
  
    position: relative;
}
.social-login-text{
text-align: left;
    font-weight: bold;
color: white;
width:100%;
height:100%;
min-height:100px;

}
.social-img{
	height: 100%;
    margin-right: 8%;
	width:14%
}
.signupinfo{height: 5%;
   
    font-size: small;
    margin-top: 3%;
}
.dont-have-account{
	float: left;
    margin-right: 5%;
    width: auto;
color:black;
}