input:focus {
     height: 30px;
   
    width: 12%;
    background: wheat;
    border-style: none;
    border-color: rgba(0,0,0,.87);
    text-align: center;
    color: white;
    float: left;
    margin-left: 2%;
    background-position-y: initial;
    color: black;
    border-radius: 7px;
    /* border-color: #f2bf55; */
    border-style: solid;
    /* border-radius: 20px; */
    border-width: 3px;
	animation: beat .25s infinite alternate;
	transform-origin: center;
	animation: beat .5s infinite alternate;
	transform-origin: center;
  }
  .heart {
	
	animation: beat .25s infinite alternate;
	transform-origin: center;
}

/* Heart beat animation */
@keyframes beat{
	to { transform: scale(1.1); }
}
:host ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {   
  stroke: #0d052f;
}
.level-image-div{
  height:9%;
  margin-bottom: 8%;
}
.level-image{
  height: 100%;
  padding-top: 5%;
    border: 3px solid #0c0c0c;
    margin-left: 13%;
    margin-right: 13%;
    border-radius: 34px;
    background: #F3A712;
    font-weight: bold;
    color: #171616;
    padding-left: 13%;
    
    font-family: inherit;
    font-size: 21px;
}