input:focus {
     height: 30px;
   
    width: 12%;
    background: wheat;
    border-style: none;
    border-color: rgba(0,0,0,.87);
    text-align: center;
    color: white;
    float: left;
    margin-left: 2%;
    background-position-y: initial;
    color: black;
    border-radius: 7px;
    /* border-color: #f2bf55; */
    border-style: solid;
    /* border-radius: 20px; */
    border-width: 3px;
	animation: beat .25s infinite alternate;
	transform-origin: center;
	animation: beat .5s infinite alternate;
	transform-origin: center;
  }
  .heart {
	
	animation: beat .25s infinite alternate;
	transform-origin: center;
}

/* Heart beat animation */
@keyframes beat{
	to { transform: scale(1.1); }
}
:host ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {   
  stroke: #0d052f;
}
.level-image-span{
 
}

.level-image{
  border: 3px solid #0c0c0c;
  border-radius: 34px;
  background: #F3A712;
  font-weight: bold;
  color: #171616;
  font-family: inherit;
  font-size: 21px;
  width: auto;
  margin: auto;
  display: table;
  padding: 3% 6%;
  margin-bottom: 4%;
}
.category-icon{
  float: right;
						margin-top: 2%; 
						height: 80%;
						width: 30%;
}
.emoji-hint{
  background: wheat;
  text-align: left;
  line-height: 155%;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  color: black;
  display: table;
  margin: 0 auto;
  border: solid 2px;
  border-radius: 10px;
  padding: 7px;
}

.ani{
  
  animation-duration: 5s; /* don't forget to set a duration! */
}