<link rel="stylesheet" type="text/css" href="/assets/css/util.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/main.css">
<div  *ngIf="gameLoaded" class="game-wrapper" [ngStyle]="{'background':bgArray[gameLevelIndex-1	]}">
 
 <!-- background: #226e71; 
 background: #4d428c;-->


	
	<div  style="height: 15%;
    padding-top: 8%;
    text-align: center;">
		<span *ngIf="showSpinner " style="font-size: 24px;
		font-weight: bold;
		
		font-style: italic;
		
		color: #0c0c0c;
		
		font-family: none;">
		Memorize Obstacles
		</span>
		<div *ngIf="showSpinner " class="spinner-position">
	
			<span  class="spinner-text">{{timeCounter}}</span>
		<mat-progress-spinner  mode="determinate" strokeWidth="4" value={{progress}}  diameter="60" >
		
		</mat-progress-spinner>
		</div>
	</div>

	<div (touchmove) ="mouseMove($event) "id="game-wrapper" (touchstart) ="mouseEnter($event) " 
	(touchend)="mouseRemoved($event)" style="
	height: 60%;
    width: 100%;
	">

			<div  *ngFor="let data of gameData let i = index" id={{i}} [ngStyle]="{'height':height+'px', 'width':width+'%','background':divBgArray[gameLevelIndex-1]}" class='div1'	>
				<!--',-->
				<div id=line-{{i}} class='line'[ngStyle]="{
					'position':'relative','top': div_height/2+'px','left': div_width/2+'px'
				}"></div>
				
				<img  *ngIf= "i==startPosition && isCharacterVisible" src="../../../assets/images/super_hero.png" class="super-hero">
				<img  *ngIf= "i==target && isCharacterVisible" src="../../../assets/images/girl.png" class="super-hero">
				<img  *ngIf= "checkForObstacle(i) && isObstacleVisible" src="../../../assets/images/bomb.png" class="super-hero">

			</div>
			<img  *ngIf="result=='fail'" src="../../../assets/images/cross.png" class="game_result_img">
			<img  *ngIf="result=='pass'"  src="../../../assets/images/right.png" class="game_result_img">
		</div>	  

	
</div>