

.div1{
	
	border:1px solid white;
	
	background:#f39508;
	float:left;
	box-shadow: -1px 0px 3px 5px;
}

.div2:hover{
	
	background:red;
}

.background{
background:red;
}
.reset{
	all:unset
}
.super-hero{
	height: 100%;
    width: 91%;
}
.game_next{
    color: white;
    height: 10%;
    width: 30%;
    background: red;
    font-size: 20px;
}
.line{
	
   
    color:white;
    
    
	}
.line-bottom{
	
	border-left: 6px dashed white;
	float:left;
}


.line-right{
	
	border-top: 6px dashed white;
	float:left;
}

.game_result_img{    height: 30%;
    position: absolute;
    left: 25%;
	top: 25%;
}
.focussed_div{
	height: 20%;
    width: 80%;
    color: white;
    font-size: 20px;
    font-style: italic;
	font-weight: bold;
	text-align: center;
}
	
:host ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {   
    stroke: #e6d31d;
}
	