<header class="header">
  <div class=" bg-color" style="height:100%">
    <div  class="header-score">
      <div class="coin-img" style="display:inline-block;float:right;"></div>
      <div style="margin-right:-8px;float:right;color:white">
        {{userData.coins}}
      </div>
    </div>





        <img *ngIf="httpClientService.onHomePage" (click)="redirectToUserProfile()" src="../assets/images/profile.png"
          class="home-icon">
  <img *ngIf="!httpClientService.onHomePage" style="width: 15%;
      width: 15%;
    
    /* height: 85px; */
    margin-left: -5px;
    width: 9%;
    margin-left: 2px;
    margin-right: 5px;
    height: 82%;" (click)="redirectToHome()" src="../assets/images/home.png"
>
        <span style="       position: absolute;
        top: 4%;
        color: black;
        font-size: 16px;
        font-weight: bold;">{{userData.first_name!='' ?userData.first_name:userData.userId!=''?userData.userId:'Guest' }}
        </span>
    
    
      <span class="level-text" *ngIf="!httpClientService.onHomePage && httpClientService.level>0 "> LEVEL {{httpClientService.level}}</span>
   


  </div>

</header>