.bg-color{
   
    /* padding-bottom: 1%; */
  
}
.header{
  background: #F5BD0F;
    padding-left: 2%;
    color: white;
    height: 10%;
    padding-top: 5%;
    min-height: 70px;
   /* background: linear-gradient(90deg, rgb(103, 58, 183), rgb(103, 58, 183));
   */
}
.header-score{
  float: right;
    background: #c55bf3;
    padding-left: 3%;
    padding-top: 2%;
    padding-bottom: 1%;
    padding-right: 1%;
    margin-right: 2%;
   
    font-size: 18px;
    font-weight: bold;
    border-radius: 20px;
}
.logout-level{
  float: right;
    /* margin-right: 25%; */
    position: absolute;
    left: 45%;
    border: 3px solid white;
    border-radius: 21px;
    padding: 2%;
    font-size: 22px;
    font-weight: bold;
    /* text-align: center; */
    /* background: #2c4d65;*/

    
}
.home-icon{
  margin-top: 1%;
    height: 82%;
    margin-left: 0px;
    width: 11%;

}
:host ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {   
  stroke: #3A1772;
}
.spinner-text{    
	float: left;
    margin-left: 28%;
    margin-top: 25%;
    font-weight: bold;
    color: white;
    font-size: 25px;
}